.navbar {
  height: 50px;
}

.container {
  padding-left: 0px;
  margin-left: 10px;
}

div#loginform {
  width: 320px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"], input[type="password"] {
  width: 320px;
  height: 50px;
  font-size: 20px;
}

#logo-text {
  color:skyblue;
  font-size: 80px;
}

div#logerror{
  color:red;
}

.checkbox {
  text-align: left;
}

.btn-primary {
  width: 320px;
  height: 50px;
  font-size: 20px;
}
