{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename = './js/script.js') }}"></script>
{% endblock %}

{% block nav_items %}
<li><a href="/">Sign In</a></li>
{% endblock %}

{% block page_content %}
<div class="container" id="loginform">
  <div class="index-header">
    <h1 id="logo-text">Serializer</h1>
  <div id="logerror">
     &nbsp
  </div>
  </div>
  <form>
    <div>
      <input type="text" id="username" placeholder="Username" required>
    </div>
    <div>
      <input type="password" id="password" placeholder="Password" required>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="remember_me"> remember me
      </label>
  </div>
    <div>
      <button class="btn btn-primary" id="formbtn" value="1" type="button">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
